@model IEnumerable<flightproject2.Models.FlightsJivanshu>

@{
    ViewData["Title"] = "AllFlights";
    Layout="~/Views/Shared/_AllFlightsLayout.cshtml";
}

<h1>All Flights</h1>
<h2>Hello! </h2>
<a asp-controller="Login" asp-action="Logout">Logout</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Book Flight", "BookFlight", new {  id=item.FlightId})
            </td>
        </tr>
}
    </tbody>
</table>
