@model flightproject2.Models.BookingsJivanshu

@{
    ViewData["Title"] = "Details";
    Layout="~/Views/Shared/_AllFlightsLayout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.Airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.SourceCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.SourceCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DestinationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPassengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPassengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
